<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://wallpapers.net/free-download-assorted-food-hd-wallpaper-for-desktop-mobiles/download/828x350.jpg" class="d-block w-100" alt="Welcome to FoodBox">
      </div>
      <div class="carousel-item">
        <img src="https://s3.amazonaws.com/99Covers-Facebook-Covers/watermark/23373.jpg" class="d-block w-100" alt="Welcome to FoodBox">
      </div>
      <div class="carousel-item">
        <img src="https://lh3.googleusercontent.com/wdUvmhmr-UZy0dZ6M4Bzvz0C8EwCYlJniT3eBxauBVpV-TVFEu_1kgfag0hCFimizdg2jLm1yuqz8rJBub4GaeS9XCQ=w800" class="d-block w-100" alt="Welcome to FoodBox">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>