<hr/>

<footer class="footer mt-auto py-3">
  <div class="container">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
      <small class="d-block mb-3 text-muted">&copy; 2020-2025</small> 
    <nav class="navbar navbar-light bg-light">
      <a class="text-muted" *ngIf="isAdmin" [routerLink]="'/addrestaurant'">Add Restaurant</a>
      <a class="text-muted" *ngIf="isAdmin" [routerLink]="'/addfood'">Add Food</a>
      <a class="text-muted" *ngIf="isAdmin" [routerLink]="'/editrestaurant'">Edit Restaurant</a>
      <a class="text-muted" *ngIf="isAdmin" [routerLink]="'/registeradmin'">Sign Up as Admin</a>
      <a class="text-muted" [routerLink]="'/adminlogin'">Login as Admin</a>
      <a class="text-muted" *ngIf="!isAdmin" [routerLink]="'/about'">About Us</a>
      <a class="text-muted" *ngIf="!isAdmin" [routerLink]="''">Home</a>
      <a class="text-muted" *ngIf="!isAdmin" [routerLink]="'/login'">Login</a>
    </nav>
    <span class="text-muted">Footer area for Foodbox, use this area for administative work</span>
  </div>
</footer>